{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
  <div clas="div1">
    <u> <h1>TAS<span id="offset">K MA</span>STER</h1></u>
  </div>

  {% if tasks|length < 1 %}
  <h4 style="text-align: center">There are no tasks. Create one below!<h4>

  {% else %}

  <table  style=" overflow:auto"cellspacing="0" cellpadding="1" align="center" style="width: 80%" text-align="left">
    <tr class="thclr">
      <th>Task</th>
      <th>Date Added</th>
      <th>Actions</th>
    </tr>
    {% for task in tasks %}

       <tr  align="left">
         <td>{{ task.content }}</td>
         <td style="width:35%; length: 10%">{{ task.date_created.date() }}</td>

        <td style="width:20%">
          <button style="color:red" class="glow-on-hover" onclick="window.location.href = '/delete/{{task.id}}';">Delete</button>
          <br>
          <button style="color:lightgreen" class="glow-on-hover" onclick="window.location.href = '/update/{{task.id}}';">Update</button>
        </td>
    {% endfor %}

  </table>
  {% endif %}

  <form  align="center" action="/" method="POST"><br><br>
    <input type="text" name="content" id="content" placeholder="Write here..."><br><br>
    <input  type="submit" value="Add Task">

</div>

{% endblock %}
